$wrapper: 1026px;

// Colors
$white: #fff;
$black: #000;
$transparent: transparent;

//Body
$body-bg: $white !default;
$body-color: $black !default;

// Fonts
$font-family-sans-serif: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;

$font-weight-medium: 500;
$font-weight-semibold: 600;

$font-size-base: 1rem !default; //16px;
$font-size-xlarger: $font-size-base * 1.5 !default; //24px;
$font-size-xlarge: $font-size-base * 1.375 !default; //22px;
$font-size-larger: $font-size-base * 1.25 !default; //20px;
$font-size-large: $font-size-base * 1.125 !default; //18px;
$font-size-small: $font-size-base * 0.875 !default; //14px;
$font-size-smaller: $font-size-base * 0.75 !default; //12px;
$font-size-xsmall: $font-size-base * 0.625 !default; //10px;
$font-size-xsmaller: $font-size-base * 0.5 !default; //8px;

$h1-font-size: $font-size-base * 2.125 !default; //34px
$h2-font-size: $font-size-base * 2 !default; //32px
$h3-font-size: $font-size-base * 1.875 !default; //30px
$h4-font-size: $font-size-base * 1.5 !default; //24px
$h5-font-size: $font-size-base * 1.375 !default; //22px
$h6-font-size: $font-size-base * 1.25 !default; //20px;

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  2xs: 375px,
  3xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1280px,
  2xl: 1440px,
  3xl: 1600px
) !default;

// Spacing
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25), // 4px
    2: ($spacer * .5), // 8px
    3: ($spacer * .75), // 12px
    4: $spacer, // 16px
    5: ($spacer * 1.5), // 24px
    6: ($spacer * 2), // 32px
    7: ($spacer * 2.5), // 40px
    8: ($spacer * 3), // 48px
    9: ($spacer * 3.5), // 56px
    10: ($spacer * 4), // 64px
    11: ($spacer * 4.5), // 72px
    12: ($spacer * 5) // 80px
  ),
  $spacers
);


//Forms
$input-border-radius: 0;
$input-border-color: $black;
$input-color: $black;
$input-placeholder-color: $black;

//Cards
$card-border-width: 0px;
$card-border-color: $transparent;
$card-border-radius: 5px;
$card-spacer-x: 1.5rem;

//Progress Bar
$progress-height: 3px;
$progress-bg: rgba($black,0.9);
$progress-border-radius: 25%;
$progress-bar-bg: $transparent;
