$font-sizes: () !default;
$font-sizes: map-merge(
  (
    "xsmaller": $font-size-xsmaller,
    "xsmall": $font-size-xsmall,
    "smaller": $font-size-smaller,
    "small": $font-size-small,
    "base": $font-size-base,
    "large": $font-size-large,
    "larger": $font-size-larger,
    "xlarge": $font-size-xlarge,
    "xlarger": $font-size-xlarger
  ),
  $font-sizes
);

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @each $size, $value in $font-sizes {
      .text#{$infix}-#{$size} {
        font-size: #{$value};
      }
    }
  }
}

$custom-colors: () !default;
$custom-colors: map-merge(
  (
    "white": $white,
    "black": $black,
    "transparent": $transparent
  ),
  $custom-colors
);

@each $color, $value in $custom-colors {
  .link-#{$color} {
    color: #{$value};
    &:hover {
      color: darken($value, 15%);
    }
  }
}

@each $color, $value in $custom-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @each $color, $value in $custom-colors {
      @include text-emphasis-variant(".text#{$infix}-#{$color}", $value);
    }
  }
}

@each $color, $value in $custom-colors {
  @include bg-variant(".bg-#{$color}", $value);
}

.img-multiply {
  mix-blend-mode: multiply;
}

.btn-icon {
  appearance: none;
  background: none;
  border: 0 none;
  padding: 0;
}

.line-height-1 {
  line-height: 1;
}

.text-pre {
  white-space: pre;
}

.text-underline {
  text-decoration: underline;
}

.font-weight-medium {
  font-weight: $font-weight-medium;
}

.font-weight-semibold {
  font-weight: $font-weight-semibold;
}
